.page-hero {
    position: relative;
    color: #FFF;
    width: 100%;
    height: 700px;
    background: url(../assets/images/main-banner-1.jpg) no-repeat bottom center {
        size: cover;
    }

    @media all and (max-width: 400px) {
        height: 100vh;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(7, 31, 62, 0.55);
    }

    &__inner {
        max-width: 800px;

        @media all and (max-width: 400px) {
            padding: 0 10px;
        }
    }
    &__title {
        margin-bottom: 25px;
        font-size: 55px;
        line-height: 60px;
        font-weight: 600;
        text-align: center;
        font-family: 'Proxima Nova Lt', sans-serif;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

        @media all and (max-width: 600px) {
            font-size: 40px;
            line-height: 1.2em;
        }
        @media all and (max-width: 400px) {
            font-size: 32px;
        }
    }

    &__desc {
        font-size: 26px;
        line-height: 35px;
        font-weight: 400;
        text-align: center;
        color: #FFF;
        opacity: .9;

        @media all and (max-width: 400px) {
            font-size: 19px;
            line-height: 1.2em;
        }
    }
}

.hero-menu {
    @include flex(center, flex-start);
    @include list-unstyled;
    padding: 0 25px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: -136px;

    @media all and (max-width: 1280px) {
        margin-top: -182px;
    }

    @media all and (max-width: 400px) {
        padding: 0;
        margin: 0;
        margin-left: 1px;
        margin-right: 2px;
        margin-top: -140px;
        width: auto;
        //width: calc(100% + 4px);
    }

    &__item {
        position: relative;
        width: calc(25% - 2px);
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ECECEC;
        margin-right: -1px;
        margin-bottom: -1px;

        &:hover {
            z-index: 1;
            border-color: #FFF;
        }

        @media all and (max-width: 940px) {
            width: calc(50% - 2px);

            &:nth-last-child(2), &:last-child {
                width: calc(50% - 2px);
            }
        }
    }

    &__link {
        @include flex(flex-start, center, nowrap);
        position: relative;
        padding: 30px;
        height: 135px;
        box-sizing: border-box;
        
        color: #404040;
        background: #FFF;

        @media all and (max-width: 1280px) {
            padding: 20px 15px;
            flex-direction: column;
            font-size: 14px;
            text-align: center;
            min-height: 180px;
        }
        @media all and (max-width: 400px) {
            height: 200px;
        }

        &:hover {
            $mobileWidth: 600px;
            box-shadow: 0 18px 41px 0 rgba(49,6,18,0.1);
            z-index: 1;

            .hero-menu__icon {
                &::before {
                    background-color: #fff;
                    @media all and (max-width: $mobileWidth) {
                        background-color: transparent;
                    }
                }

                &::after {
                    transform: scale(1);
                }
            }


            .hero-menu__icon--file {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/file.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--fire {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/fire.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--bank {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/bank.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--growth {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/growth.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--student {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/student.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--diploma {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/diploma.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--team {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/team.png);
                    }
                    
                }
                
            }
            .hero-menu__icon--engineer {
                &::before {
                    
                    @media all and (max-width: $mobileWidth) {
                        background-image: url(../assets/images/icons/hero-menu/png/hover/engineer.png);
                    }
                    
                }
            }
        }
    }

    &__icon {
        $mobileWidth: 600px;

        @include flex(center, center);
        position: relative;
        width: 90px;
        height: 90px;
        flex-shrink: 0;
        border-radius: 100%;
        background: #f6f8fb;
        margin-right: 20px;

        @media all and (max-width: 1280px) {
            margin-right: 0;
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
        }

        &::before {
            content: '';
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 1;
            background: no-repeat center {
                size: cover;
                color: #adb7c7;
            }
            @media all and (max-width: $mobileWidth) {
                background-color: transparent;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transform: scale(0);
            z-index: 0;
            border-radius: 100%;
            background: #B20838;
        }

        &::before, &::after {
            transition: all .2s ease-in-out;
        }

        &--file {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/file.svg);
                    mask-image: url(../assets/images/icons/hero-menu/file.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/file.png);
                }
                
            }
            
        }
        &--fire {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/fire.svg);
                    mask-image: url(../assets/images/icons/hero-menu/fire.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/fire.png);
                }
                
            }
            
        }
        &--bank {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/bank.svg);
                    mask-image: url(../assets/images/icons/hero-menu/bank.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/bank.png);
                }
                
            }
            
        }
        &--growth {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/growth.svg);
                    mask-image: url(../assets/images/icons/hero-menu/growth.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/growth.png);
                }
                
            }
            
        }
        &--student {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/student.svg);
                    mask-image: url(../assets/images/icons/hero-menu/student.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/student.png);
                }
                
            }
            
        }
        &--diploma {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/diploma.svg);
                    mask-image: url(../assets/images/icons/hero-menu/diploma.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/diploma.png);
                }
                
            }
            
        }
        &--team {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/team.svg);
                    mask-image: url(../assets/images/icons/hero-menu/team.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/team.png);
                }
                
            }
            
        }
        &--engineer {
            &::before {
                @media all and (min-width: $mobileWidth) {
                    -webkit-mask-image: url(../assets/images/icons/hero-menu/engineer.svg);
                    mask-image: url(../assets/images/icons/hero-menu/engineer.svg);
                }
                @media all and (max-width: $mobileWidth) {
                    background-image: url(../assets/images/icons/hero-menu/png/engineer.png);
                }
                
            }
        }
    }
}