footer.site-footer
    .wrapper.flex.jc-start.ai-center
        .site-footer__copy
            |© 2019 «НазваниеОрганизации». Все права защищены

        .site-footer__inner.site-footer__inner--right
            ul.footer-nav.flex.jc-start.ai-center
                li.footer-nav__item
                    a(href="#").footer-nav__link Услуги

                li.footer-nav__item
                    a(href="#").footer-nav__link О компании

                li.footer-nav__item
                    a(href="#").footer-nav__link Карьера

                li.footer-nav__item
                    a(href="#").footer-nav__link Контакты