header.site-header.js-site-header
    .wrapper.flex.jc-start.ai-center
        a(href="#").logo.flex.flex-center
            i.icon.fab.fa-phoenix-squadron
            span.logo-text 
                span Site
                |Name

        .site-header__inner.site-header__inner--right
            ul.header-nav.flex.jc-start.ai-center
                li.header-nav__item
                    a(href="#").header-nav__link Услуги

                li.header-nav__item
                    a(href="#").header-nav__link О компании

                li.header-nav__item
                    a(href="#").header-nav__link Карьера

                li.header-nav__item
                    a(href="#").header-nav__link Контакты

                li.header-nav__item.header-nav__item
                    a(href="#").header-nav__link.header-nav__link--phone 
                        i.icon.fas.fa-phone-volume
                        |+7 844 777-77-77


