.page-hero.flex.flex-center
    .page-hero__inner.wrapper
        h2.page-hero__title 
            |Жизненно важный элемент вашего бизнеса

        p.page-hero__desc
            |дополнительное описание
            
    
ul.hero-menu.wrapper
    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--file
            .hero-menu__text
                |Разработка пакета документов, сопровождение организации

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--fire
            .hero-menu__text
                |Пожарная безопасность

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--bank
            .hero-menu__text
                |Участие в расследовании несчастых случаев

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--growth
            .hero-menu__text
                |Экологическая безопасность

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--student
            .hero-menu__text
                |Обучение организации обучения


    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--diploma
            .hero-menu__text
                |Организация проведения специальной оценки условий труда

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--team
            .hero-menu__text
                |Организация производственного контроля в организации

    li.hero-menu__item
        a(href="#").hero-menu__link
            span.hero-menu__icon.hero-menu__icon--engineer
            .hero-menu__text
                |Промышленная безопасность

