doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Site

    body
        include ../common/header.pug

        include ../common/hero.pug

        .wrapper.flex.flex-center
            include ../common/site-content.pug